<div class="card">
  <div class="card-body">
    <h5 class="card-title">Block <small class="text-mute" *ngIf="block.previousHash == 0">(Genesis block)</small></h5>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <span>Hash</span>
      <br>
      <div class="text-truncate"><small>{{block.hash}}</small></div>
      <br>
      <span>Hash of previous block</span>
      <br>
      <div class="text-truncate"><small>{{block.previousHash}}</small></div>
    </li>

    <li class="list-group-item"><span>Nonce</span>
    <br>
    <div class="text-truncate text-muted"><small>{{ block.nonce }}</small></div>
    </li>

    <li class="list-group-item"><span>Timestamp</span>
      <br>
      <div class="text-truncate text-muted"><small>{{ block.timestamp }}</small></div>
      </li>
  </ul>
</div>